<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Title{% endblock %}</title>
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="MainStyle.css">
    <!-- 스타일 가져오기-->
    <!-- {% load staticfiles %} -->
    </head>

    <body>
    <!-- 여기에 header 삽입!-->
    <header>
        <div class="row header">
            <div class="col-md-2">
                <a href="" style="color:white">기부 프로그램 둘러보기</a>
            </div>
            <div class="col-md-8 header-logo-section">
                <img src="images/LogoFinal.png" style="height: 60px">
            </div>
            <div class="col-md-2">
                <a href="" style="color:white">회원가입 / 로그인</a>
            </div>
        </div>
    </header>
    <div class="container-fluid">
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="signup-title">
                회원가입
            </div>
        </div>
    </div>
    <div class="row form-section">
        <form method="post" action="">
            <div class="col-md-offset-4 col-md-4">
                <input type="text" name="id" maxlength="50" placeholder="아이디" class="signup-input">
                <input type="password" name="passwd" maxlength="16" placeholder="비밀번호" class="signup-input">
                <input type="text" name="id" maxlength="50" placeholder="비밀번호 확인" class="signup-input">
                <input type="password" name="passwd" maxlength="16" placeholder="이메일" class="signup-input">
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-offset-5 col-md-2">
            <input type="submit" value="회원가입" class="signup-btn">
        </div>
    </div>
    <div class="row footer">
           
                Copyright by forif
        
    </div>
</body>
</html>