{% load staticfiles %}
<link rel="stylesheet" href="{% static 'donation/css/index.css' %}">
<link rel="stylesheet" href="{% static 'donation/css/main.css' %}">
{% block bootstrapLinks %}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://googledrive.com/host/0B-QKv6rUoIcGeHd6VV9JczlHUjg"></script><!-- holder.js link -->
    <script src="https://use.fontawesome.com/eb0cb4695a.js"></script>
{% endblock %}
{% block body %}
    <header>
        <div class="row header">
            <div class="col-md-2">
                <a href="" style="color:white">기부 프로그램 둘러보기</a>
            </div>
            <div class="col-md-8 header-logo-section">
                <img src="{% static "donation/img/LogoFinal.png" %}" style="height:80px">
            </div>
            <div class="col-md-2">
                <a href="{% url 'donation:signup' %}" style="color:white">회원가입 / 로그인</a>
            </div>
        </div>
    </header>
    <!-- 진행중인 기부 목록의 건수를 제공한다 -->
    <!--기부항목 목록(ex-포항 지진, 경주 지진..)이 있으면 -->
    {%  if Earthquakes %}
    <div class="container-fluid main-container">
        <div class="page-title" style="text-align : center">
            <img src="{% static "donation/img/coins.png" %}" style="width:50px;margin:15px;">진행중인 기부 {{ Earthquakes|length }} 건</div>
        <!-- 각 기부항목 목록 중 기부항목 하나하나 -->
        {% for Earthquake in Earthquakes %}
            <div class="col-xs-6 col-md-4">

                    <div class="donation-card">
                        <a href="{% url 'donation:detail' Earthquake.eq_id %}">
                        <img src="{{ Earthquake.img_url }}" style="width:100%">
                        </a>
                        <div class="caption">
                            <div class="eq-name">
                                {{ Earthquake.eq_name }}
                            </div>
                            <div class="eq-region">
                                {{ Earthquake.eq_region }}
                            </div>
                            <div class="row eq-info">
                                <div class="col-md-6">
                                    <div class="eq-info-title">모인 금액</div>
                                    <div class="eq-info-content">{{ Earthquake.fund_total_amount }} 원</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="eq-info-title">후원자</div>
                                    <div class="eq-info-content">{{ Earthquake.fund_people_num }} 명</div>
                                </div>
                            </div>
                            <div class="eq-donation-percent">
                            </div>
                        </div>
                    </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <h3 style="color:red">현재 진행 중인 지진 성금 목록이 없습니다.</h3>
    {% endif %}
    <div class="row footer">
        @Copyright by forif
    </div>
{% endblock %}