html {
   width: 100%;
   height: 100%;
}

.header {
   height: 80px;
   padding: 10px;
   background: black;
   color: white;
   text-align: center;
   line-height: 80px;
}

.header-logo-section {
   text-align: center
}

.form-section {
   text-align: center;
   margin-top: 30px;
}

.login-input {
   width: 100%;
   margin-top: 3px;
}

.signup-title {
   margin-top: 80px;
   padding: 8px;
   font-size: 15px;
   border-bottom-color: black;
   border-bottom-style: solid;
   border-bottom-width: 0.1em;
}

.signup-input {
   width: 80%;
   margin: 3px;
}

.login-btn {
   width: 100%;
   height: 60px;
   background: #ffc000;
   color: white;
   border-radius: 10px;
   border: none;
}

.signup-btn {
   width: 100%;
   height: 40px;
   margin-top: 15px;
   background: #ffc000;
   color: white;
   border-radius: 10px;
   border: none;
}

.signup-section {
   text-align: center;
   padding: 10px;
}

.footer {
   position: absolute;
   height: 80px;
   left: 0px;
   right: 0px;
   bottom: 0px;
   background: #ffc000;
   color: white;
   text-align: center;
   line-height: 100px;
}